{% extends 'base/base.html' %}

{% block content %}



<form style="margin:auto" action="/" method = "POST" >

    <br>
    <label for="provincia">Provincia</label><br>
    <select name="provincia" ><br>
        {% for elemento in lista %}
            <option value="{{ elemento }}"> {{ elemento }}</option>
        {% endfor %}
    </select><br>
    <label for="anio">Año</label><br>
    <input type="number" name="anio" placeholder="Introduce el año" min="1996" max="2020" required><br>
    <label for="genero">Genero</label><br>
    <select name="genero" ><br>
        <option value="Hombres">Hombres</option>
        <option value="Mujeres">Mujeres</option>
    </select><br>
    <input type="submit" name="Enviar" id="env">

</form>

<table style="margin:auto">
    <caption>Resultados</caption>
    <tr>
        <td>Año</td>
        <td>Sexo</td>
        <td>Provincia</td>
        <td>Demografía</td>
    </tr>
        <td>{{ datos[0] }}</td>
        <td>{{ datos[1] }}</td>
        <td>{{ datos[2] }}</td>
        <td>{{ datos[3] }}</td>
    <tr>

    </tr>
</table>

{% endblock %}